main{
    padding: 0;
}
.content{
    margin: 0 auto;
    padding: 40px;
}
.js-modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal-bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal-content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

/*---------------------------------
スクロール
----------------------------------*/
.d-flex::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* スクロールの背景の設定 */
.d-flex::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* スクロールのつまみ部分の設定 */
.d-flex::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #e8e8e8;
}
